NotissimusTest/shops.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="yml_catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="shop" />
      </xs:sequence>
      <xs:attribute name="date" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="shop">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name" />
        <xs:element ref="company" />
        <xs:element ref="url" />
        <xs:element minOccurs="0" maxOccurs="1" ref="phone" />
        <xs:element minOccurs="0" maxOccurs="1" ref="platform" />
        <xs:element minOccurs="0" maxOccurs="1" ref="version" />
        <xs:element minOccurs="0" maxOccurs="1" ref="agency" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="email" />
        <xs:element ref="currencies" />
        <xs:element ref="categories" />
        <xs:element minOccurs="0" maxOccurs="1" ref="store" />
        <xs:element minOccurs="0" maxOccurs="1" ref="pickup" />
        <xs:element minOccurs="0" maxOccurs="1" ref="delivery" />
        <xs:element minOccurs="0" maxOccurs="1" ref="deliveryIncluded" />
        <xs:element minOccurs="0" maxOccurs="1" ref="local_delivery_cost" />
        <xs:element minOccurs="0" maxOccurs="1" ref="adult" />
        <xs:element ref="offers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="company" type="xs:string" />
  <xs:element name="phone" type="xs:string" />
  <xs:element name="currencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="currency">
    <xs:complexType>
      <xs:attribute name="id" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="RUR" />
            <xs:enumeration value="RUB" />
            <xs:enumeration value="USD" />
            <xs:enumeration value="BYR" />
            <xs:enumeration value="KZT" />
            <xs:enumeration value="EUR" />
            <xs:enumeration value="UAH" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="1" name="rate" type="xs:string" />
      <xs:attribute default="0" name="plus" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="category">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="id" type="xs:string" use="required" />
          <xs:attribute name="parentId" type="xs:string" />
          <xs:attribute name="tid" type="xs:string" />
          <xs:attribute name="yid" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="offers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="offer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="offer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="url" />
        <xs:element minOccurs="0" maxOccurs="1" ref="buyurl" />
        <xs:element ref="price" />
        <xs:element minOccurs="0" maxOccurs="1" ref="wprice" />
        <xs:element ref="currencyId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="xCategory" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="categoryId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="market_category" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="picture" />
        <xs:element minOccurs="0" maxOccurs="1" ref="store" />
        <xs:element minOccurs="0" maxOccurs="1" ref="pickup" />
        <xs:element minOccurs="0" maxOccurs="1" ref="delivery" />
        <xs:element minOccurs="0" maxOccurs="1" ref="deliveryIncluded" />
        <xs:element minOccurs="0" maxOccurs="1" ref="local_delivery_cost" />
        <xs:element minOccurs="0" maxOccurs="1" ref="orderingTime" />
        <xs:choice>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" ref="typePrefix" />
            <xs:element ref="vendor" />
            <xs:element minOccurs="0" maxOccurs="1" ref="vendorCode" />
            <xs:element ref="model" />
            <xs:sequence minOccurs="0" maxOccurs="1">
              <xs:element ref="provider" />
              <xs:element minOccurs="0" maxOccurs="1" ref="tarifplan" />
            </xs:sequence>
          </xs:sequence>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" ref="author" />
            <xs:element ref="name" />
            <xs:element minOccurs="0" maxOccurs="1" ref="publisher" />
            <xs:element minOccurs="0" maxOccurs="1" ref="series" />
            <xs:element minOccurs="0" maxOccurs="1" ref="year" />
            <xs:element minOccurs="0" maxOccurs="1" ref="ISBN" />
            <xs:element minOccurs="0" maxOccurs="1" ref="volume" />
            <xs:element minOccurs="0" maxOccurs="1" ref="part" />
            <xs:element minOccurs="0" maxOccurs="1" ref="language" />
            <xs:element minOccurs="0" maxOccurs="1" ref="binding" />
            <xs:element minOccurs="0" maxOccurs="1" ref="page_extent" />
            <xs:element minOccurs="0" maxOccurs="1" ref="table_of_contents" />
          </xs:sequence>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" ref="author" />
            <xs:element ref="name" />
            <xs:element minOccurs="0" maxOccurs="1" ref="publisher" />
            <xs:element minOccurs="0" maxOccurs="1" ref="series" />
            <xs:element minOccurs="0" maxOccurs="1" ref="year" />
            <xs:element minOccurs="0" maxOccurs="1" ref="ISBN" />
            <xs:element minOccurs="0" maxOccurs="1" ref="volume" />
            <xs:element minOccurs="0" maxOccurs="1" ref="part" />
            <xs:element minOccurs="0" maxOccurs="1" ref="language" />
            <xs:element minOccurs="0" maxOccurs="1" ref="table_of_contents" />
            <xs:element minOccurs="0" maxOccurs="1" ref="performed_by" />
            <xs:element minOccurs="0" maxOccurs="1" ref="performance_type" />
            <xs:element minOccurs="0" maxOccurs="1" ref="storage" />
            <xs:element minOccurs="0" maxOccurs="1" ref="format" />
            <xs:element minOccurs="0" maxOccurs="1" ref="recording_length" />
          </xs:sequence>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" ref="artist" />
            <xs:element ref="title" />
            <xs:element minOccurs="0" maxOccurs="1" ref="year" />
            <xs:element minOccurs="0" maxOccurs="1" ref="media" />
            <xs:element minOccurs="0" maxOccurs="1" ref="starring" />
            <xs:element minOccurs="0" maxOccurs="1" ref="director" />
            <xs:element minOccurs="0" maxOccurs="1" ref="originalName" />
            <xs:element minOccurs="0" maxOccurs="1" ref="country" />
          </xs:sequence>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" ref="worldRegion" />
            <xs:element minOccurs="0" maxOccurs="1" ref="country" />
            <xs:element minOccurs="0" maxOccurs="1" ref="region" />
            <xs:element ref="days" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="dataTour" />
            <xs:element ref="name" />
            <xs:element minOccurs="0" maxOccurs="1" ref="hotel_stars" />
            <xs:element minOccurs="0" maxOccurs="1" ref="room" />
            <xs:element minOccurs="0" maxOccurs="1" ref="meal" />
            <xs:element ref="included" />
            <xs:element ref="transport" />
            <xs:element minOccurs="0" maxOccurs="1" ref="price_min" />
            <xs:element minOccurs="0" maxOccurs="1" ref="price_max" />
            <xs:element minOccurs="0" maxOccurs="1" ref="options" />
          </xs:sequence>
          <xs:sequence>
            <xs:element ref="name" />
            <xs:element ref="place" />
            <xs:element minOccurs="0" maxOccurs="1" ref="hall" />
            <xs:element minOccurs="0" maxOccurs="1" ref="hall_part" />
            <xs:element ref="date" />
            <xs:element minOccurs="0" maxOccurs="1" ref="is_premiere" />
            <xs:element minOccurs="0" maxOccurs="1" ref="is_kids" />
          </xs:sequence>
          <xs:sequence>
            <xs:element ref="name" />
            <xs:element minOccurs="0" maxOccurs="1" ref="vendor" />
            <xs:element minOccurs="0" maxOccurs="1" ref="vendorCode" />
          </xs:sequence>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="aliases" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="additional" />
        <xs:element minOccurs="0" maxOccurs="1" ref="description" />
        <xs:element minOccurs="0" maxOccurs="1" ref="sales_notes" />
        <xs:element minOccurs="0" maxOccurs="1" ref="promo" />
        <xs:element minOccurs="0" maxOccurs="1" ref="manufacturer_warranty" />
        <xs:element minOccurs="0" maxOccurs="1" ref="country_of_origin" />
        <xs:element minOccurs="0" maxOccurs="1" ref="downloadable" />
        <xs:element minOccurs="0" maxOccurs="1" ref="adult" />
        <xs:element minOccurs="0" maxOccurs="1" ref="age" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="barcode" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="param" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="related_offer" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" />
      <xs:attribute name="group_id" type="xs:string" />
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="vendor.model" />
            <xs:enumeration value="book" />
            <xs:enumeration value="audiobook" />
            <xs:enumeration value="artist.title" />
            <xs:enumeration value="tour" />
            <xs:enumeration value="ticket" />
            <xs:enumeration value="event-ticket" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="available">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bid" type="xs:string" />
      <xs:attribute name="cbid" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="url" type="xs:string" />
  <xs:element name="store" type="xs:string" />
  <xs:element name="email" type="xs:string" />
  <xs:element name="platform" type="xs:string" />
  <xs:element name="version" type="xs:string" />
  <xs:element name="agency" type="xs:string" />
  <xs:element name="buyurl" type="xs:string" />
  <xs:element name="picture" type="xs:string" />
  <xs:element name="pickup" type="xs:string" />
  <xs:element name="delivery" type="xs:string" />
  <xs:element name="deliveryIncluded">
    <xs:complexType />
  </xs:element>
  <xs:element name="local_delivery_cost" type="xs:string" />
  <xs:element name="orderingTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="onstock" />
        <xs:element ref="ordering" />
        <xs:element minOccurs="0" maxOccurs="1" ref="deliveryTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onstock">
    <xs:complexType />
  </xs:element>
  <xs:element name="ordering">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="hours" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="deliveryTime">
    <xs:complexType />
  </xs:element>
  <xs:element name="price" type="xs:string" />
  <xs:element name="wprice" type="xs:string" />
  <xs:element name="currencyId" type="xs:string" />
  <xs:element name="categoryId">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="Own" name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="Yandex" />
                <xs:enumeration value="Torg" />
                <xs:enumeration value="Own" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="market_category" type="xs:string" />
  <xs:element name="typePrefix" type="xs:string" />
  <xs:element name="vendor" type="xs:string" />
  <xs:element name="vendorCode" type="xs:string" />
  <xs:element name="model" type="xs:string" />
  <xs:element name="author" type="xs:string" />
  <xs:element name="name" type="xs:string" />
  <xs:element name="publisher" type="xs:string" />
  <xs:element name="ISBN" type="xs:string" />
  <xs:element name="volume" type="xs:string" />
  <xs:element name="part" type="xs:string" />
  <xs:element name="language" type="xs:string" />
  <xs:element name="binding" type="xs:string" />
  <xs:element name="page_extent" type="xs:string" />
  <xs:element name="table_of_contents" type="xs:string" />
  <xs:element name="performed_by" type="xs:string" />
  <xs:element name="performance_type" type="xs:string" />
  <xs:element name="storage" type="xs:string" />
  <xs:element name="format" type="xs:string" />
  <xs:element name="recording_length" type="xs:string" />
  <xs:element name="series" type="xs:string" />
  <xs:element name="year" type="xs:string" />
  <xs:element name="artist" type="xs:string" />
  <xs:element name="title" type="xs:string" />
  <xs:element name="media" type="xs:string" />
  <xs:element name="starring" type="xs:string" />
  <xs:element name="director" type="xs:string" />
  <xs:element name="originalName" type="xs:string" />
  <xs:element name="country" type="xs:string" />
  <xs:element name="description" type="xs:string" />
  <xs:element name="sales_notes" type="xs:string" />
  <xs:element name="promo" type="xs:string" />
  <xs:element name="aliases" type="xs:string" />
  <xs:element name="provider" type="xs:string" />
  <xs:element name="tarifplan" type="xs:string" />
  <xs:element name="xCategory" type="xs:string" />
  <xs:element name="additional" type="xs:string" />
  <xs:element name="worldRegion" type="xs:string" />
  <xs:element name="region" type="xs:string" />
  <xs:element name="days" type="xs:string" />
  <xs:element name="dataTour" type="xs:string" />
  <xs:element name="hotel_stars" type="xs:string" />
  <xs:element name="room" type="xs:string" />
  <xs:element name="meal" type="xs:string" />
  <xs:element name="included" type="xs:string" />
  <xs:element name="transport" type="xs:string" />
  <xs:element name="price_min" type="xs:string" />
  <xs:element name="price_max" type="xs:string" />
  <xs:element name="options" type="xs:string" />
  <xs:element name="manufacturer_warranty" type="xs:string" />
  <xs:element name="country_of_origin" type="xs:string" />
  <xs:element name="downloadable" type="xs:string" />
  <xs:element name="adult" type="xs:string" />
  <xs:element name="age" type="xs:string" />
  <xs:element name="barcode" type="xs:string" />
  <xs:element name="param">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="name" type="xs:string" use="required" />
          <xs:attribute name="unit" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="related_offer" type="xs:string" />
  <xs:element name="place" type="xs:string" />
  <xs:element name="hall">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="plan" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="hall_part" type="xs:string" />
  <xs:element name="is_premiere" type="xs:string" />
  <xs:element name="is_kids" type="xs:string" />
  <xs:element name="date" type="xs:string" />
</xs:schema>